html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    /* border: 1px red solid; */
    display: flex;
    justify-content: center;
}

table {
    border: 2px black solid;
    border-collapse: collapse;
    width: 50%;
    font-size: 12px;
}

tr {
    border: 1px purple solid;
}

th {
    border: 1px orange solid;
}

td {
    border: 1px red solid;
}

button {
    text-align: center;
}

.modal {
    border: 2px magenta solid;
    width: 25%;
    text-align: center;
    border-radius: 10%;
}

.hidden {
    display: none !important;
}

form {
    border: 2px blue solid;
    padding: 5%;
    border-radius: 5%;
}

.form-container {
    /* border: 1px red solid; */
    display: flex;
    justify-content: center;
}